nav {
    margin-top: 20px;
}
.navcont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    list-style-type: none;
}

.navli {
    font-size: 1.8rem;
}
